<launch>
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="console_enabled" default="false" />
  <arg name="run_rviz" default="true" />

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <!-- <arg name="world_name" value="$(find hdt_saffir_gazebo)/worlds/hdt_saffir_fixedbase.world"/> -->
    <!-- <arg name="world_name" value="$(find hdt_saffir_gazebo)/worlds/test.world"/> -->
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>
  <!-- Convert an xacro and put on parameter server -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find hdt_saffir_description)/urdf/hdt_saffir_left.xacro" />
  <!-- Spawn a robot into Gazebo -->
  <!-- <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model hdt_saffir_fixedbase" /> -->
  <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -param robot_description -model hdt_saffir_left"/>

  <!-- <include file="$(find hdt_saffir_control)/launch/joint_control2.launch"> -->
  <!--   <arg name="coms_interface" value="loopback" /> -->
  <!--   <arg name="console_enabled" value="$(arg console_enabled)" /> -->
  <!--   <arg name="run_rviz" value="$(arg run_rviz)" /> -->
  <!--   <arg name="default_urdf" value="false" /> -->
  <!--   <arg name="use_sim_time" value="$(arg use_sim_time)" /> -->
  <!-- </include> -->
  <!-- <group ns="right"> -->
  <!--   <include file="$(find hdt_saffir_control)/launch/joint_control.launch"> -->
  <!--     <arg name="arm" value="right"/> -->
  <!--     <arg name="coms_interface" value="loopback" /> -->
  <!--     <arg name="console_enabled" value="$(arg console_enabled)" /> -->
  <!--     <arg name="run_rviz" value="$(arg run_rviz)" /> -->
  <!--     <arg name="default_urdf" value="false" /> -->
  <!--   </include> -->
  <!-- </group> -->
  <!-- <group ns="left"> -->
  <!--   <include file="$(find hdt_saffir_control)/launch/joint_control.launch"> -->
  <!--     <arg name="arm" value="left"/> -->
  <!--     <arg name="coms_interface" value="loopback" /> -->
  <!--     <arg name="console_enabled" value="$(arg console_enabled)" /> -->
  <!--     <arg name="run_rviz" value="$(arg run_rviz)" /> -->
  <!--     <arg name="default_urdf" value="false" /> -->
  <!--   </include> -->
  <!-- </group> -->
</launch>
